<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <appSettings>
    <!-- -->
    <add key="Methods" value="private|public dataType Name(args)"/>
    <add key="Variables" value="private|public dataType name"/>
    <add key ="Classes" value ="public placeholder class Name"/>
  </appSettings>
</configuration>